<ul>
  <li><%= link_to "Admin Dashboard", admin_index_path %></li>
</ul>

<p>If you wish to enter a merchant you must type in: /merchants/:id/dashboard. :id being the ID you wish to view (1..2..3)</p>